<ion-content padding inset>

    <ion-row class="logo-row">
        <ion-col col-1></ion-col>
        <ion-col col-10>
        <img src="assets/imgs/logo.svg" class="logotipo">
        </ion-col>
        <ion-col col-1></ion-col>
    </ion-row>

        <form [formGroup]="authForm" (ngSubmit)="authorizeAccount()" novalidate >
                <ion-item>
                    <ion-label position="stacked">Spotify E-Mail <ion-text color="danger">*</ion-text></ion-label>
                    <ion-input required formControlName="email" type="text" clearInput min="3"></ion-input>
                </ion-item>
                <ion-item *ngIf="email.invalid && email.touched" lines="none">
                    <ion-text color="danger" class="form-error">
                        Enter a valid email address!.
                    </ion-text>                                                                                                     
                </ion-item>
                <ion-item>
                     <ion-label position="stacked">Spotify Password <ion-text color="danger">*</ion-text></ion-label>
                     <ion-input required formControlName="password" type="password" clearInput min="3"></ion-input>
                 </ion-item>
              
                <ion-button expand="block" color="primary" type="submit" [disabled]="authForm.invalid">
                    Sign In
                </ion-button>
            </form>

</ion-content>